.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    
    width: 23%;
    border-radius: 6px;
    z-index: 1001;
  }
  

  .modal__content{
    padding: 1.5rem;
  }
  
  .modal__message {
    margin-bottom: 1.5rem;
    font-size: 17px;
  }
  
  .modal__actions {
    margin-top: 2rem;
    padding: 1.5rem;
    border-top-width: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  
  .btn--secondary {
    background: #e0e0e0;
  }
  
  .btn--danger {
    background: #dc3545;
    color: white;
  }
  