.product-list {
    padding: 3rem;

  }

  .product-table {
    background-color: white;
    padding: 40px;
  }
  
  .search-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #e1e1e1;
    height: 30px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }

  th{
    background-color:#f9f9f9;
  }
  
  th, td {
    border-bottom: 1px solid #dddddda4;
    padding: 1rem;
    text-align: center;
  }
  
  .logo {
    width: 40px;
    height: auto;
  }
  
  .btn--danger {
    background: #dc3545;
    color: white;
    border: none;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
  }
  
  .pagination {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  

  .actions-cell {
    position: relative;
  }
  
  .dots-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu button {
    background: none;
    border: none;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
    width: 100%;
  }
  
  .dropdown-menu button:hover {
    background-color: #f0f0f0;
  }
  